global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporters"
    static_configs:
      - targets:
{% for target in prometheus_scrape_targets %}
          - "{{ target }}"
{% endfor %}
