<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Silak-IT</title>
</head>

<body>

<h1>Bienvenue sur Silak-IT</h1>

<h2>Infrastructure automatisée</h2>

<ul>
    <li>Proxmox VE</li>
    <li>Terraform</li>
    <li>Ansible</li>
    <li>Docker</li>
    <li>Prometheus</li>
    <li>Grafana</li>
    <li>Wazuh</li>
    <li>Silak Assistant</li>
</ul>

<p>
Projet de fin d' études - Ingénierie Systèmes,- Réseaux et Cybersécurité
</p>

</body>
</html>
