[Unit]
Description=Silak Assistant - Interface Streamlit
After=network.target ollama.service

[Service]
Type=simple
User=silak
WorkingDirectory={{ silak_install_dir }}/silak-assistant
ExecStart={{ silak_install_dir }}/silak-assistant/venv/bin/streamlit run app.py --server.port {{ streamlit_port }} --server.address 0.0.0.0
Restart=on-failure

[Install]
WantedBy=multi-user.target
